.dropdown-container {
    border: 1px solid #C4C4C4;
    padding: 16px 14px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 15%;

}

select {
    border: 0px;
    background-color: transparent;
    
}

