.navbar {
  width: 100%;
  box-sizing: border-box;
  display: block;
  background-color: var(--navbar-background-color);
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 11px 120px;
  justify-content: space-between;
}

.navbar-name {
  font-size: 1rem;
  font-weight: 500;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 11px;
  color: var(--text-color);
  font-weight: 550;
  padding: 6px 8px;
}

.theme-toggle:hover {
  background-color: var(--button-hover-color);
  border-radius: 4px;
}

.logo {
  width: 155px;
}
