.skeleton-details {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--text-color);
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  margin-top: 50px;
}

/* Skeleton flag för större skärmar */
.skeleton-flag-large {
  width: 100%;
  max-width: 550px;
  height: 300px;
  background-color: var(--skeleton-flag); 
  border-radius: 10px;
}

.skeleton-info-large {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.skeleton-title-large {
  width: 50%;
  height: 30px;
  background-color: var(--skeleton-flag); 
  border-radius: 4px;
  margin-top: 0;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.skeleton-text-large {
  width: 80%;
  height: 20px;
  background-color: var(--skeleton-flag); 
  border-radius: 4px;
  margin: 0.5rem 0;
}

.skeleton-border-countries {
  margin-top: 2rem;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.skeleton-border-button {
  width: 100px; 
  height: 32px;
  background-color: var(--skeleton-flag); 
  border-radius: 16px;
}

/* Media query för små skärmar (mobile) */
@media screen and (max-width: 900px) {
  .skeleton-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    margin-top:100px;
  }

  .skeleton-flag-large {
    width: 100%;
    max-width: 100%;
    height: 200px;
  }

  .skeleton-title-large {
    width: 80%;
    height: 25px;
    font-size: 1.5rem;
  }

  .skeleton-text-large {
    width: 100%;
    height: 15px;
  }

  .skeleton-border-countries {
    flex-wrap: wrap;
  }

  .skeleton-border-button {
    width: 80px;
    height: 28px;
  }
}
